# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.

In [12]:
import pandas as pd
data = ['RStudio', 'Apache Spark', 'TensorFlow']
df = pd.DataFrame(data, columns=['Data Science Tools'])
df

  Data Science Tools
0            RStudio
1       Apache Spark
2         TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
m=200
h=m/60
h

3.3333333333333335

## Author
Chethan Chakradhar Mangala